name: Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        go-version: [ '1.25.6' ]
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
        cache: true
    
    - name: Download dependencies
      run: go mod download
    
    - name: Run go fmt
      run: go fmt ./...
    
    - name: Run go vet
      run: go vet ./...
    
    - name: Run tests
      shell: bash
      run: go test -v -race -coverprofile=coverage.out ./...
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage.out
        fail_ci_if_error: false
      if: matrix.os == 'ubuntu-latest'

  build:
    needs: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
          - goos: darwin
            goarch: amd64
          - goos: darwin
            goarch: arm64
          - goos: windows
            goarch: amd64
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.6'
        cache: true
    
    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
      run: go build -o dbsmith-${{ matrix.goos }}-${{ matrix.goarch }} ./cmd/dbsmith
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: dbsmith-${{ matrix.goos }}-${{ matrix.goarch }}
        path: dbsmith-${{ matrix.goos }}-${{ matrix.goarch }}*
